/* general */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: roboto, sans-serif;
}

h1,h2,h3,h4,h5,h6 { 
    color: #1d273d;
    font-weight: 300;
}

.container,
.container1 {
    width: 90%;
    max-width: 62.5rem;
    margin: auto;
    overflow: hidden;
}

.container1 {
    padding: 3.75rem 0;
}

h1 {
    font-size: 3.125rem; 
}

/* header */

header::before {
    content: "";
    display: block;
    margin-bottom: 5rem;
}

nav {
    width: 100%;
    height: 5rem;
    background: #fff;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    z-index: 100;
    /* transition: ease-in-out 0.5s; */
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    width: 100%;
    align-items: center;
}

.nav .logo {
    height: 5rem;
}


.nav .logo img {
    height: 100%;
    vertical-align: top;
}

.header--links {
    font-weight: 300;
}

nav .header--links a {
    color: #5d6678;
    text-decoration: none;
    margin-left: 1.25rem;
}

.hamburger {
    width: 5rem;
    height: 5rem;

    text-align: center;
    z-index: 100;
    cursor: pointer;
    /* transition: color 0.5s ease-in; */
}

.hamburger > i{
    font-size: 25px;
    line-height: 80px;
}

.content-header {
    width: 100%;
    height: 37.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-header>img {
    width: 34.375rem;
    animation: ease-in anim1 2s;
}

@keyframes anim1 {
    0% { transform: scale(0);}
    100% {transform: scale(1);}
}

.text-header {
    margin: 0 0 0 1.875rem;
}

.content-header p{
    font-weight: 100;
    margin-top: .875rem;
    color: #5d6678;
}

.content-header a {
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #1fde82;
    text-align: center;
    color: white;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}

.title {
    font-size: 3.125rem;
}

/* About us */

.about-us {
    background: #f2f2f2;
}

.container-article {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3.75rem;
    justify-content: space-around;
}

.article {
    width: 29%;
    background: white;
    margin-bottom: 1.875rem;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
    transition: 0.5s;
}

.article:hover {
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}

.article>i {
    font-size: 30px;
    color: #fff;
    background: #1fde82;
    display: inline-block;
    width: 4.375rem;
    height: 4.375rem;
    text-align: center;
    padding-top: 20px;
    border-radius: 50%;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}

.article>h3 {
    font-size: 1.5rem;
    margin-top: 1.875rem;
} 
/* el h3 es lo mismo que el h4 del final del html */

.article>p {
    font-weight: 100;
    color: #5d6678;
    margin-top: .9375rem;
    padding-bottom: 1.25rem;
}

.article>a {
    color: #5d6678;
    font-weight: 400;
    text-decoration: none;
}

.article>a:hover {
    color: #1fde82;
    transition: color .5s;
}

/* questions */
.questions {
    width: 100%;
    height: 37.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questions>img {
    width: 34.375rem;
    animation: ease-in anim1 2s;
}


.text-questions {
    margin: 0 0 0 1.875rem;
}

.text-questions p{
    font-weight: 100;
    margin-top: .875rem;
    color: #5d6678;
}

.text-questions a{
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #1fde82;
    text-align: center;
    color: white;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}

.title {
    font-size: 3.125rem;
}

.results {
    background: #2570ff;
    padding-top: 1.875rem;
}

.content-results {
    display: flex;
    justify-content: space-evenly;
}

.numbers {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.numbers .number {
    width: 45%;
    background: rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 10px;
    padding: 40px 35px;
    margin-bottom: 20px;
}

.numbers .number h4 {
    color: #fff;
    font-size: 3.125rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
}

.numbers .number p {
    color: #f2f5fc;
    font-weight: 300;
}

.results-text {
    width: 37%;
}

.results-text h4{
    color: #fff;
    font-size: 2.5rem;
}

.results-text p {
    color: #fff;
    font-weight: 300;
    margin: 1.25rem 0;
}

.results-text>a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border:  1px solid #fff;
    padding: 10px 0;
    width: 7.5rem;
    text-align: center;
    border-radius: .3125rem;
}


/* services */
.services {
    display: flex;
    justify-content: space-between;
}

.services>img {
    width: 31.25rem;

}

.box-skills {
    margin: 1.875rem 1.875rem 0 0;

}

.box-skills h4 {
    font-size: 1.5rem;
    background: #f2f2f2;
    width: 21.875rem;
    border-radius: 6px;
    padding: 10px 0 10px 15px;
    margin-bottom: 10px;
}

.box-skills i{
    color: #1fde82;
    font-size: 1.25rem;
}


/* 
 -- To do List --
1- Hacer el footer
2- Identar todo
3- px y rem
4- hacer una copia para el modo oscuro

*/
